<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/StyleLR.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<title>Iniciar Sesión</title>
</head>
<body class="body">
	<div class="presentacion">
    </div>
	<div class="grupo36">

        <img class="puntito" th:src="@{/img/Blanco_y_Simple_Negocio_de_Comida_Sitio_Web_2.png}" />

        <img class="fitzone" th:src="@{/img/4.png}" />

        <p class="parrafo">
          Tu nuevo sitio web de localizacion de spots para hacer tu actividad fisica
          favorita
          <br />
          <br />
          Únete y recorre todos los sitios o rutas accesibles y lograr un estilo de
          vida mas saludable lo mas cerca tuyo posible
          <br />
        </p>
    </div>
	<img  class="fondomapa" th:src="@{/img/Captura de pantalla 2024-12-15 182757.png}" alt="fondomapa">


    <div class="card-login">
        <div class="form iniciacard">
            <h2 class="h2">Login</h2>
                <form th:action="@{/procesa/login}" method="POST" th:object="${loginUsuario}">
        
                    <div class="caja_input">
                        <i class="fa-solid fa-envelope"></i>
                        <label for="email">Correo:</label>
                        <input type="text" id="email" th:field="*{email}"  class="form-control"/>
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-text"></span>
                    </div>

                    <div class="caja_input">
                        <i class="fa-solid fa-lock"></i>
                        <label for="clave">Contraseña:</label>
                        <input type="password" id="clave" th:field="*{clave}"  class="form-control"/>
                        <span th:if="${#fields.hasErrors('clave')}" th:errors="*{clave}" class="error-text"></span>
                    </div>

                    <p>¿No te has creado una cuenta?<a th:href="@{/}" class="crearcuenta">Crea una cuenta </a></p>
                    <input type="submit" value="Login" class="login-boton"/>
                </form>
    </div>
    </div>

<script th:src="@{/js/LR.js}"></script>
</body>
</html>