<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/agregarLocalizaciones.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" 
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" 
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" 
            crossorigin=""></script>
    <title>Agregar Localización</title>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <img class="logo1" th:src="@{/img/Diseño sin título.png}" alt="logo">
          <img class="navbar-brand logo2" th:src="@{/img/4.png}" alt="nombre-pagina">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" th:href="@{/localizaciones/agregar}">Anadir spot</a>
              <a class="nav-link" th:href="@{/perfil}">Mi Perfil</a>
              <a class="nav-link" th:href="@{/logout}">Logout</a>
            </div>
          </div>
        </div>
      </nav>


    <div class="contenedor-formulario">
    <form th:action="@{/guardar}" method="POST" th:object="${localizacion}" enctype="multipart/form-data">
		<div class="card-add-localizacion">
			<label for="nombre">Nombre:</label>
			<input type="text" id="nombre" th:field="*{nombre}" class="form-control"/>
			<span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="error-text"></span>
	
			<label for="direccion">Dirección:</label>
			<input type="text" id="direccion" th:field="*{direccion}" class="form-control"/>
			<span th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}" class="error-text"></span>
            
            <label for="descripcion">Descripción:</label>
			<textarea type="text" id="descripcion" th:field="*{descripcion}" class="form-control"></textarea>
			<span th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}" class="error-text"></span>

      <label for="imagen">Agrega una imagen de la localización:</label>
      <input type="file" id="imagen" name="imagen" class="form-control"/>


      <input style="display:none" type="text" id="cordX" th:field="*{cordX}"/>
      <input style="display:none" type="text" id="cordY" th:field="*{cordY}"/>

      <input style="display:none" type="number" id="fotos" th:field="*{fotos}"/>

			<label class="ubica">Ubica la localización en el mapa:</label>
			<div id="map" class="mapa"></div>
	
			<input class="boton-add-localizacion" type="submit" value="Agregar"/>
		</div>
	</form>
</div>

    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
