<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil</title>
    <link rel="stylesheet" href="/htmls/Style.css">
</head>
<body>
    <nav>
        <img src="/htmls/Diseño sin título.png" alt="FitZone Logo">
        <h1 class="marca">FitZone</h1>
        <ul>
            <li><a href="#">Añadir Spot</a></li>
            <li><a href="#">Localizaciones</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </nav>

    <section>
        <img class="foto-perfil" src="/htmls/perfil.png" alt="Foto de Perfil">
        <p class="nombre-usuario" th:text="${nombreUsuario}">Nombre Usuario</p> 
        <a class="editar-perfil" href="#">Editar Perfil</a>

        <ul>
            <li><a href="#">Sobre mi: <span th:text="${sobreMiUsuario}">No disponible</span></a></li> 
            <li><a href="#">Visitas</a></li>
            <li><a href="#">Preferencias: <span th:text="${preferencia}">Calistenia</span></a></li>
        </ul>

        <h4>Spots agregados por ti</h4>
        <p>Cuando agregues un lugar te lo mostraremos aquí, revisa el mapa y descubre nuevos lugares</p>
        
        <img src="/htmls/mapa.jpg" alt="Mapa">

        <a class="boton-ir-mapa" href="#">Ir al Mapa</a>

        <h4>Preferencias</h4>
        <span class="preferencias" th:text="${preferencia}">Calistenia</span>
        <a href="#">+ Añadir Preferencia</a>
    </section>

    <footer>
        <ul>
            <li class="contactos">Contacto</li>
            <li><a href="#" class="logo-facebook"></a></li>
            <li><a href="#" class="logo-instagram"></a></li>
        </ul>
    </footer>
    <section id="editar-perfil-modal" style="display: none;">
        <div class="modal-content">
            <h2>Editar Perfil</h2>
            <form id="form-editar-perfil">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" placeholder="Ingresa tu nombre" th:value="${nombreUsuario}" required>

                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="apellido" placeholder="Ingresa tu apellido" th:value="${apellidoUsuario}" required>

                <label for="sobreMi">Sobre mi:</label>
                <input type="textarea" th:value="${sobreMiUsuario}" placeholder="Escribe algo sobre ti">

                <label for="subirImagen">Cambiar Foto de Perfil:</label>
                <input type="file" name="foto-perfil" id="foto-perfil">
                
                <button type="submit">Guardar Cambios</button>
                <button type="button" id="cancelar-editar-perfil">Cancelar</button>
            </form>
        </div>
    </section>

    <script src="/htmls/script.js"></script>
</body>
</html>
